.fix-pos{
  position: absolute;
  top:50px;
  z-index:100;
}
.container img {
  width: 100px !important;
  height: 150px;
}
.container .active {
  color: darkblue;
  font-weight: bolder;
  font-size: 24px;
  margin-top: -6px;
}
.container span {
  position: relative;
  top: 8px;
  color: blue;
}
table thead {
  background: #c9dff0;
}
table .a {
  display: inline;
  padding: 0px 5px !important;
}
/*# sourceMappingURL=book.css.map */
